.header {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.header__game-control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__game-info {
  display: flex;
}

.info__points,
.btn {
  margin-right: 2rem;
}

.info__output {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
